In [1]:
import pandas as pd 
import numpy as np 
from scipy import stats 
from scipy.stats import norm 
from scipy.stats import chi2_contingency

In [2]:
data=pd.read_csv("Costomer+OrderForm.csv")

In [3]:
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [4]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [5]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [6]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [7]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [8]:
values=np.array(([271,267,269,280],[29,33,31,20])) 
values

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [9]:
p_value=chi2_contingency(values)

In [10]:
p_value[1]

0.2771020991233135

In [11]:
#As (p_value = 0.2771) > (α = 0.05);
#Accept Null Hypthesis
#i.e. Independence of categorical variables Thus,
#customer order forms defective % does not varies by centre.